<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MyVue1</title>
</head>
<body>
<!-- view -->
<div id="app">
    <li v-for="item in items">
        {{item.message}}
    </li>
    <li v-for="item in items2">
        {{item}}
    </li>

</div>
<!-- 导入vuejs -->
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>

<script>

    // new Vue({
    //     el:'#app',
    //     data: {
    //         message:'Hello World!'
    //     }
    // });

    var myvue= new Vue({
        el: "#app",
        data:{
            items: [
                {message: "wlm"},
                {message: "wlm2"}
            ],
            items2: [
                "nihao","niha"
            ]
        }
    });
</script>
</body>
</html>